* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	
}
.banner{
	background-image: url("");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Additional styles for the background image */
  }
  a:link:hover { text-decoration: none; }
h1 {
	font-size: 28px;
	margin: 0;
}

nav ul {
	display: flex;
	list-style: none;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.donor-form {
	background-color: #fff;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

form input,
form select {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}


footer {
	background-color: #ddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.become{
	text-align: left;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(
	  right,
	  #ba0909,
	  #06f3e0,
	  #ab0847,
	  #02d21e
	 
	  
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  