
body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	
}
.banner{
	background-image: url("image/login7.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Additional styles for the background image */
	
  }
  

.hero {
	
	text-align: center;
	padding: 80px 20px;
	color: #020202;
  }
  
  .hero h2 {
	margin-top: 0;
  }
  
  .hero p {
	font-size: 20px;
	margin-bottom: 30px;
  }
  
  #donate-btn {
	background-color: #ded9de;
	color: #f30659;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	
  }
  a {
	text-decoration: none;
	color: #f30659;
  }
  
  
  #donate-btn:hover {
	background-color: #6a8788;
	color: #fafcfd;
	border: 2px solid #f30659;
  }

.about h2 {
	font-size: 30px;
	margin-bottom: 20px;
}



footer {
	background-color: #ddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}
  .about{
	text-align: center;
  }
  .about_head{
	padding-top: 30px;
  }
  .about_head h2{
	color: #dc143c;
	font-size: 60px;
	font-weight: 700;
  }
  .about_head p{
	font-size: 20px;
  }
  .about_services h2{
	color: #353535ee;
	font-size: 30px;
	font-weight: 700;
  }
  .container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 50vh;
  }
  
  .row {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .col-md-4 {
	text-align: center;
  }
  .bottom {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
  }
  
  .row2 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  
  .col-4 {
	text-align: left;
	margin-right: 20px;
  }
  .services{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .service_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	padding-left: 20px;
	height: 300px;
	width: 30%;
  }
  
  .service_icon img {
	margin-right: 10px;
  }
.service-content{
	width: 30%;
	align-items: center;
	margin: auto;
}
/* .service-content p{
	width: 30%;
	justify-content: center;
	
} */

  /* slider */
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  .save{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(
	  right,
	  #c40a0a,
	  #eac10b,
	  #f50606,
	  #f5ed07
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .blood, .forever{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(
	  right,
	  #0871e1,
	  #0fd0da,
	  #0401c0,
	  #07b14e
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .donor{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(
	  right,
	  #e72907,
	  #c51404,
	  #d40633,
	  #f30303
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .made{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(
	  right,
	  #d1e707,
	  #f20f93,
	  #15f132,
	  #09ba9a
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .shero{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(
	  right,
	  #09ba9a,
	  #15f132,
	  #f20f93,
	  #d1e707
	 
	  
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }